In [111]:
import pandas as pd
data = pd.read_excel("traffic_stops.xlsx")

In [112]:
data

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,00:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,00:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,00:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,00:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,00:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328
65536,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,NaN,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,NaN,Ticket,True,16-30 Min,False,UP89PT2924

In [113]:
data.head()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,00:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,00:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,00:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,00:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,00:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305

In [114]:
data.shape

(65538, 16)

In [115]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65538 entries, 0 to 65537
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65538 non-null  datetime64[ns]
 1   stop_time           65538 non-null  object
 2   country_name        65538 non-null  object
 3   driver_gender       65538 non-null  object
 4   driver_age_raw      65538 non-null  int64
 5   driver_age          65538 non-null  int64
 6   driver_race         65538 non-null  object
 7   violation_raw       65538 non-null  object
 8   violation           65538 non-null  object
 9   search_conducted    65538 non-null  bool
 10  search_type         43818 non-null  object
 11  stop_outcome        65538 non-null  object
 12  is_arrested         65538 non-null  bool
 13  stop_duration       65538 non-null  object
 14  drugs_related_stop  65538 non-null  bool
 15  vehicle_number      65538 non-null  object
dtypes: bool(3), datetime64[ns](1), int64(2), object(10)
memory usage: 6.7+ MB

In [116]:
data.isnull().sum()

stop_date                 0
stop_time                 0
country_name              0
driver_gender             0
driver_age_raw            0
driver_age                0
driver_race               0
violation_raw             0
violation                 0
search_conducted          0
search_type           21720
stop_outcome              0
is_arrested               0
stop_duration             0
drugs_related_stop        0
vehicle_number            0
dtype: int64

In [117]:
data.describe()

                           stop_date  driver_age_raw   driver_age
count                          65538    65538.000000  65538.00000
mean   2020-01-23 06:12:57.149134848       49.055998     49.11221
min              2020-01-01 00:00:00       18.000000     18.00000
25%              2020-01-12 00:00:00       33.000000     34.00000
50%              2020-01-23 00:00:00       49.000000     49.00000
75%              2020-02-04 00:00:00       65.000000     65.00000
max              2020-02-15 00:00:00       80.000000     80.00000
std                              NaN       18.174699     18.15012

In [118]:
data['search_type'].unique()

array(['Vehicle Search', 'Frisk', nan], dtype=object)

In [119]:
data['search_type'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
65533    False
65534    False
65535    False
65536     True
65537     True
Name: search_type, Length: 65538, dtype: bool

In [120]:
data['search_type'].fillna('none', inplace=True)

C:\Users\kanis\AppData\Local\Temp\ipykernel_4528\1030860681.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['search_type'].fillna('none', inplace=True)

In [121]:
data

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,00:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,00:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,00:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,00:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,00:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328
65536,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,none,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,none,Ticket,True,16-30 Min,False,UP89PT2924

In [122]:
data.isnull().sum()

stop_date             0
stop_time             0
country_name          0
driver_gender         0
driver_age_raw        0
driver_age            0
driver_race           0
violation_raw         0
violation             0
search_conducted      0
search_type           0
stop_outcome          0
is_arrested           0
stop_duration         0
drugs_related_stop    0
vehicle_number        0
dtype: int64

In [123]:
data[data.isnull().any(axis=1)]

Empty DataFrame
Columns: [stop_date, stop_time, country_name, driver_gender, driver_age_raw, driver_age, driver_race, violation_raw, violation, search_conducted, search_type, stop_outcome, is_arrested, stop_duration, drugs_related_stop, vehicle_number]
Index: []

In [124]:
data[data['search_type'].isnull()]

Empty DataFrame
Columns: [stop_date, stop_time, country_name, driver_gender, driver_age_raw, driver_age, driver_race, violation_raw, violation, search_conducted, search_type, stop_outcome, is_arrested, stop_duration, drugs_related_stop, vehicle_number]
Index: []

In [125]:
data['stop_date']=pd.to_datetime(data['stop_date'], format='%Y-%m-%d')
data['stop_time']=pd.to_datetime(data['stop_time'], format='%H:%M:%S')

In [126]:
data

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,1900-01-01 00:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,1900-01-01 00:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,1900-01-01 00:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,1900-01-01 00:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,1900-01-01 00:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,1900-01-01 12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,1900-01-01 12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,1900-01-01 12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328
65536,2020-02-15,1900-01-01 12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,none,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,1900-01-01 12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,none,Ticket,True,16-30 Min,False,UP89PT2924

In [127]:
##import PYMYSQL

import pymysql as ms

In [128]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\kanis\anaconda3\lib\site-packages (1.1.2)

In [129]:
import pymysql as pms
ms = pms.connect(
    host='localhost',
    user='root',
password='Kanishkaran12@'
)
cr=ms.cursor()
print("connection established")

connection established

In [ ]:
cr.execute("CREATE DATABASE SECURE_LIST")

ProgrammingError: (1007, "Can't create database 'secure_list'; database exists")

In [131]:
cr.execute("USE SECURE_LIST")
ms.commit()

In [132]:
cr.execute("DROP TABLE SECURE_LIST_LOG")

0

In [135]:
ms.commit

In [136]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65538 entries, 0 to 65537
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65538 non-null  datetime64[ns]
 1   stop_time           65538 non-null  datetime64[ns]
 2   country_name        65538 non-null  object
 3   driver_gender       65538 non-null  object
 4   driver_age_raw      65538 non-null  int64
 5   driver_age          65538 non-null  int64
 6   driver_race         65538 non-null  object
 7   violation_raw       65538 non-null  object
 8   violation           65538 non-null  object
 9   search_conducted    65538 non-null  bool
 10  search_type         65538 non-null  object
 11  stop_outcome        65538 non-null  object
 12  is_arrested         65538 non-null  bool
 13  stop_duration       65538 non-null  object
 14  drugs_related_stop  65538 non-null  bool
 15  vehicle_number      65538 non-null  object
dtypes: bool(3), datetime64[ns](2), int64(2), object(9)
memory usage: 6.7+ MB

In [137]:
cr.execute("""CREATE TABLE SECURE_LIST_LOG(id INT AUTO_INCREMENT PRIMARY KEY,
stop_date DATE, stop_time TIME, country_name VARCHAR(30),  driver_gender VARCHAR(15),driver_age_raw INT,      
driver_age INT,            
driver_race VARCHAR(30),               
violation_raw VARCHAR(30),             
violation VARCHAR(30),               
search_conducted BOOLEAN,    
search_type VARCHAR(30),                 
stop_outcome VARCHAR(30),             
is_arrested BOOLEAN,              
stop_duration VARCHAR(30),            
drugs_related_stop BOOLEAN,      
vehicle_number VARCHAR(30) 
)""")

0

In [138]:
ms.commit()
print("successful")

successful

In [139]:
SQL = """INSERT INTO SECURE_LIST_LOG(stop_date, stop_time, country_name,  driver_gender, driver_age_raw,         
driver_age,                
driver_race,               
violation_raw,             
violation,               
search_conducted,    
search_type,                 
stop_outcome,             
is_arrested,              
stop_duration,            
drugs_related_stop,      
vehicle_number) VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""

In [ ]:
data

In [140]:
dt = [
    (
        row['stop_date'], row['stop_time'], row['country_name'], row['driver_gender'],row['driver_age_raw'], row['driver_age'],
        row['driver_race'], row['violation_raw'], row['violation'], row['search_conducted'],
        row['search_type'], row['stop_outcome'], row['is_arrested'], row['stop_duration'],
        row['drugs_related_stop'], row['vehicle_number']
    )
    for _, row in data.iterrows()
]
cr.executemany(SQL, dt)
ms.commit()
print("successfull")

successfull

In [141]:
ms.close()
cr.close()

In [142]:
print("data inserted")

data inserted